<div class="wrapper">
    <h1 class="title">Notifikacije</h1>
    <div class="list"> 
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
    </div>
</div>