div.map-container
{
    width: 60%;
    height: 60%;
}

div.list-container
{
    width: 40%;
    margin: 2em;
}

div.big-wrapper
{
    display: flex;
    align-self: center;
    height: 90%;
    margin: 1em;
}

div.info-containter
{
    display: flex;
    width: 100%;
}