div{
    margin: 10%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background-color: #2E8B57;
    padding: 10%;
    align-items: center;
    justify-items: center;
    border-radius: 5em;
}
p{
    color:white;
    font-size: xx-large;
}