<div>
    <div class="profile-data">

    </div>
    <div class="green-card">
        <div class="top-row">
            <div class="column">
                <h1>Ocenite vozaca</h1>
                <app-star-rating (rating)="vozacRating"></app-star-rating>
            </div>
            <div class="column">
                <h1>Ocetnite vozilo</h1>
                <app-star-rating (rating)="voziloRating"></app-star-rating>
            </div>
        </div>
        <div class="comment">

        </div>
    </div>
</div>