<div class="big-wrapper">
    <div class="list-container">
        <h2>Ride history:</h2>
        <select class="sort-select" (change)="onChange($event)">
        <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option></select>
        <br>
        <br>
        <div class="scrollable">
            <div *ngFor='let ride of rides' (click)='selectRide(ride)' class="item">
                <div id="left-column" class="column">
                    <i class="fa fa-arrow-right"></i>  <p class="inline">{{ride.locations[0].departure.address}}</p> <br>
                    <i class="fa fa-arrow-left"></i>  <p class="inline">{{ride.locations[0].destination.address}}</p>
                    <p>Cena: {{ride.totalCost}} RSD</p>
                </div>
                <div id="right-column" class="column">
                    <p>{{ride.startTime}}</p>
                    <p>{{ride.endTime}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="map-container">
        <app-map [markers]="markers" [disableClick]="true"></app-map>
        <div *ngIf="selectedRide" class="info-container">

            <div class="driver">
                <div>
                    <div class="profile-picture">
                        <img class="actual-image-profile" src={{selectedRideDriver.profilePicture}}>
                    </div>
                    <div class="profile-name">
                        <h1>Driver's name:</h1>
                        <h1>{{selectedRideDriver.name}} {{selectedRideDriver.surname}}</h1>
                    </div>
                </div>
                <div>
                    <h1 *ngIf="selectedRideDriverAvgRating">Driver rating: {{selectedRideDriverAvgRating}}</h1>
                    <h1 *ngIf="!selectedRideDriverAvgRating">There are no driver ratings</h1>
                    <i class="fa" *ngFor="let star of stars" [ngClass]="{'fa-star': star <= selectedRideDriverAvgRating, 'fa-star-o': star > selectedRideDriverAvgRating}"></i>
                    <h1 *ngIf="selectedRideVehicleAvgRating">Vehicle rating: {{selectedRideVehicleAvgRating}}</h1>
                    <h1 *ngIf="!selectedRideVehicleAvgRating">There are no vehicle ratings</h1>
                    <i class="fa" *ngFor="let star of stars" [ngClass]="{'fa-star': star <= selectedRideVehicleAvgRating, 'fa-star-o': star > selectedRideVehicleAvgRating}"></i>
                </div>
            </div>

            <div class="comments">
                <h1>Comments</h1>
                <div class="comment-list">
                    <div *ngFor='let review of selectedRideReviews' class="comment">
                        <div>
                            <div class="comment-profile-picture">
                                <img src={{review.picture}}>
                            </div>
                            <div class="comment-profile-name">
                                <h2>{{review.passenger.email}}</h2>
                            </div>                          
                        </div>
                        <p>{{review.comment}}</p>
                        <h3 class="black">Rating: {{review.rating}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
