<div class = "real-wrapper">
    <div class="wrapper">
        <div class="unregistered-user-side-panel" id = "destination-parameters">

                    <input type="text" placeholder="pocetna destinacija"/>
                    <input type="text" placeholder="krajnja destinacija"/>

                    <div class="estimate-box">
                        <p class="estimate">Oko 10 minuta</p>
                        <p class="estimate">Oko 300 RSD</p>
                    </div>

                    <button>Zapocni</button>
        </div>
    </div>

    <div class = "map-container">
        <div id="map"></div>
    </div>
</div>
