<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<div class = "real-wrapper">
    <div class="wrapper">
        <div class="unregistered-user-side-panel" id = "destination-parameters">
            
            <form [formGroup]="destinationForm">
                <div class="destination-container">
                    <input type="text" placeholder="pocetna destinacija" formControlName="start_location"/>
                    <i (click)="search('start')" class="fa fa-search"></i>
                </div>
                <div class="destination-container">
                    <input type="text" placeholder="krajnja destinacija" formControlName="end_location"/>
                    <i (click)="search('end')" class="fa fa-search"></i>
                </div>
            </form>

            <div class="estimate-box">
                <p class="estimate">Oko {{ time }} minuta</p>
                <p class="estimate">Oko {{ distance }} km</p>
              </div>

                    <button>Zapocni</button>
        </div>
    </div>

    <div class = "map-container">
        <app-map></app-map>
    </div>
</div>
