<div>
    <div class="green-card">
        <div *ngIf='!emailSent' class="form">
            <h1>Reset Password</h1>
            <p>Enter your email, you will be sent a link to reset your password</p>
            <form 
                method="POST"
                [formGroup]="emailForm" 
                fxLayout="row"
                fxLayoutAlign="space-between center"
            >
                <div class="form-outline form-white mb-4">
                    <input type="text" id="typeEmailX" name="email" class="form-control form-control-lg" placeholder="E-mail" formControlName="email"/>
                </div>
            </form>
            <button class="btn btn-outline-light btn-lg px-5" (click)="sendReset()">Send</button>
        </div>

        <div *ngIf='emailSent' class="sent">
            <h1>Email sent!</h1>
            <p>Check your email, there should be a link to reset your password</p>
            <button class="btn btn-outline-light btn-lg px-5" (click)="backToLogin()">Back</button>
        </div>
    </div>
</div>
