div.green-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2E8B57;
    margin: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding:10em;
    border-radius: 2em;
}
h1{
    color: white;
    font-size: xx-large;
    font-weight: 500;
}
p{
    color: white;
}
button{
    background-color: #90D9A4;
    
}
div.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
div.sent{
    display: flex;
    align-items: center;
    flex-direction: column;
}