<div class="wrapper">
    <div class="profile-wrapper">
        <h1 id="profil">Profil</h1>

        <div class="profile-container">
            <div class="upload">
                <div class="profile-icon">
                  <img class="actual-image" src="{{base64String}}">
                </div>
              </div>
              <button class="block-button" (click)="block()">{{blockButtonText}}</button>
              <button class="admin-button" (click)="onRouting('/user-ride-history-admin')">Istorija vožnji</button>
        </div>
                

        <div class="side-panel">
            <form [formGroup]="ProfileForm" fxLayout="column">
                <mat-form-field class="form-field">
                  <mat-label>Ime</mat-label>
                  <input [readonly]="true" matInput type="text" name="name" formControlName="name" />
                </mat-form-field>
                <mat-form-field class="form-field">
                  <mat-label>Prezime</mat-label>
                  <input [readonly]="true" matInput type="text" name="surname" formControlName="surname" />
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Adresa</mat-label>
                    <input [readonly]="true" matInput type="text" name="address" formControlName="address" />
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Broj telefona</mat-label>
                    <input [readonly]="true" matInput type="text" name="phone" formControlName="phone" />
                </mat-form-field>
            </form>
        </div>


        <div class="notes">
            <div class="note-list">
                <div class="note" *ngFor="let note of notes">
                    <p>{{note.message}}</p>
                </div>
            </div>
            <form
                    method="POST"
                    [formGroup]="registerForm"
            >
                <input id="input-note" name="input-note" type="text" formControlName="note"/>
            </form>
            <button (click)="submitNote()" class="submit-button">Submit note</button>
        </div>
    </div>

    <div class="stats-wrapper">
        <h1>Statistika</h1>
        <app-statistics-admin></app-statistics-admin>
    </div>
    
</div>