div.map-container
{
    width: 60%;
    height: 60%;
}

div.list-container
{
    width: 40%;
    margin: 2em;
}

div.big-wrapper
{
    display: flex;
    align-self: center;
    height: 90%;
    margin: 1em;
}

div.info-container
{
    height: 50%;
    width: 100%;
}



h1
{
    margin: 0;
    color: white;
}

div.driver
{
    display: inline-block;
    background-color: #2E8B57;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    height: 100%;
    vertical-align: top;
}

div.profile-picture
{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0;
    background-color: #00B4FF;
}

div.profile-name
{
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}



div.comments
{
    display: inline-block;
    background-color: #2E8B57;
    width: 30%;
    height: 100%;
    margin-left: 2.5%;
    border-radius: 10px;
    padding: 10px;
    vertical-align: top;
}

div.comment-list
{
    height: 85%;
    overflow: auto;
}

div.comment
{
    background-color: #DDDBDB;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

div.comment-profile-picture
{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 0;
    background-color: #00B4FF;
}

div.comment-profile-name
{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}



div.buttons
{
    display: inline-block;
    width: 25%;
    height: 100%;
    margin-left: 2.5%;
    vertical-align: top;
}

button
{
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #DDDBDB;
    font-size: 30px;
}

button:hover
{
    background-color: #90D9A4;
}