<div class="big-wrapper">
    <div class="list-container">
        <h2>Istorija vožnji</h2>
        <app-ride-list></app-ride-list> 
    </div>
    <div class="map-container">
        <app-map></app-map>
        <div class="info-container">
            <div class="driver">
                <div>
                    <div class="profile-picture">

                    </div>
                    <div class="profile-name">
                        <h1>Driver's name:</h1>
                        <h1>Dzingis Kan Chad</h1>
                    </div>
                </div>
                <div>
                    <h1>Driver rating:</h1>
                    <h1>Vehicle rating:</h1>
                </div>
            </div>

            <div class="comments">
                <h1>Comments</h1>
                <div class="comment-list">
                    <div class="comment">
                        <div>
                            <div class="comment-profile-picture">

                            </div>
                            <div class="comment-profile-name">
                                <h2>Dzingis Kan Chad</h2>
                            </div>
                        </div>
                        <p>Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana.</p>
                    </div>
                    <div class="comment">
                        <div>
                            <div class="comment-profile-picture">

                            </div>
                            <div class="comment-profile-name">
                                <h2>Dzingis Kan Chad</h2>
                            </div>
                        </div>
                        <p>Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana. Lorem ispijem ti Mongol chada Dzingis Kana.</p>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button>Begin</button>
                <button>Book</button>
            </div>
        </div>
    </div>
    

    
</div>
