<div class="big-wrapper">
    <div class="list-container">
        <h2>Istorija vožnji</h2>
        <app-ride-list></app-ride-list> 
    </div>
    <div class="map-container">
        <app-map></app-map>
        <div class="info-container">
            <div class="driver">
                <div class="driver-upper-half">
                    <div class="profile-picture">

                    </div>
                    <div class="profile-name">
                        <h1>Driver's name:</h1>
                        <h1>Dzingis Kan Chad</h1>
                    </div>
                </div>
                <div class="driver-lower-half">
                    <h1>Driver rating:</h1>
                    <h1>Vehicle rating:</h1>
                </div>
            </div>

            <div class="comments">
                <h1>Comments</h1>
                <p>Lorem ispijem ti Mongol chada Dzingis Kana.</p>
            </div>

            <div class="buttons">
                <button>Begin</button>
                <button>Book</button>
            </div>
        </div>
    </div>
    

    
</div>
