<section class="vh-80 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form
              method="POST"
              [formGroup]="loginForm" 
              (ngSubmit)="login()"
              fxLayout="row"
              fxLayoutAlign="space-between center">
                <div class="mb-md-5 mt-md-4 pb-5">

                  <h1 class="fw mb-5">UberApp</h1>

                  <div class="form-outline form-white mb-4">
                    <input type="text" id="typeEmailX" name="email" class="form-control form-control-lg" placeholder="E-mail" formControlName="email"/>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" placeholder="Password" formControlName="password"/>
                  </div>

                  <p class="small mb-5 pb-lg-2"><a class="text-white-50" [routerLink]="['/reset-password']">Forgot password?</a></p>

                  <button class="btn btn-outline-light btn-lg btn-block px-5" type="submit" id="logInButton">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- original taken from https://mdbootstrap.com/docs/standard/extended/login/#section-6 -->