div.item
{
    display: flex;
    background-color: #DDDBDB;
    border-radius: 10px;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 5px;
}

div.item:hover
{
    cursor: pointer;
}

div.column
{
    flex:auto;
    display: block;
    margin-left: 5em;
    margin-right: 5em;
}

i.fa-arrow-right, i.fa-arrow-left
{
    margin-right: 10px;
    margin-bottom: 15px;
}

p.inline
{
    display: inline;
}

i.fa-star-o
{
    color: black;
}

i.fa-star-o:hover
{
    color: #878787;
    cursor: pointer;
}