div.item
{
    display: flex;
    background-color: #DDDBDB;
    border-radius: 10px;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 5px;
}

div.column
{
    flex:auto;
    display: block;
    margin-left: 5em;
    margin-right: 5em;
}

i
{
    color: black;
}

i:hover
{
    color: #878787;
    cursor: pointer;
}