mat-form-field
{
  margin: 0px 10px;  
}

.date-picker-container
{
    display: flex;
    border-radius: 20px;
    padding: 10px;
    background-color: #a6a4a4;
    width: fit-content;
    align-items: center;
}

canvas
{
  margin-top: 30px;
  max-width: 650px;
  max-height: 500px;
  margin: 20px 0px;
}

.summaries {
  text-align: center;
  margin-top: 20px;
}

.summaries p {
  display: inline-block;
  margin: 0 16px;
  font-size: medium;
}