<div class="wrapper">
    <div class="driver-side-panel">
        <p>Status: Aktivan</p>
        <p>Danasnjih sati rada: 5h</p>
        <button>Pauziraj</button>
    </div>

    <div class="driver-side-panel">
        
            <div class="search-form">
                <input type="text" placeholder="pocetna destinacija"/>
                <input type="text" placeholder="krajnja destinacija"/>
                <div class="estimate-box">
                    <p class="estimate">Oko 10 minuta</p>
                    <p class="estimate">Oko 300 RSD</p>
                </div>
                <div>
                    <div class="checkbox-holder">
                        <input type="checkbox"/>
                        <span class="checkmark"></span><p>Bebe</p>
                    </div>
                    <div class="checkbox-holder">
                        <input type="checkbox"/>
                        <span class="checkmark"></span><p>Ljubimci</p>
                    </div>
                </div>
            </div>
    </div>

    <div class="driver-side-panel">
        <div class="profil-pregled">
            <div class="profile-pic"></div> <p>Ime Prezime</p>
        </div>
        <div>
            <button>Pocetak</button>
            <button>Otkazi</button>
        </div>
    </div>
</div>