<div class = "real-wrapper">
    <div class="wrapper">
        <div class="driver-side-panel">
            <p>Status: {{activityStatus}}</p>
            <p>Danasnjih sati rada: {{workHours}}</p>
            <button *ngIf="isDriverActive" (click)="onClickEndDriverHour()">Pauziraj</button>
            <button *ngIf="!isDriverActive" (click)="onClickStartDriverHour()"  [disabled]="isWorkingHourButtonDisabled">Nastavi</button>
        </div>

        <div *ngIf='hasAcceptedRide()' class="driver-side-panel" id = "destination-parameters">
            
                    <input [disabled]="true" type="text" placeholder="pocetna destinacija"/>
                    <input [disabled]="true" type="text" placeholder="krajnja destinacija"/>

                    <div class="estimate-box">
                        <p *ngIf="time" class="estimate">Oko {{ time }} minuta</p>
                        <p *ngIf="cost" class="estimate">{{ cost }} RSD</p>
                        <p *ngIf="pets" class="estimate">Prisutni ljubimci</p>
                        <p *ngIf="baby" class="estimate">Prisutna beba</p>
                    </div>
        </div>

        <div *ngIf='hasAcceptedRide()'class="driver-side-panel" id="driver-accept-container">
            <div class="profil-pregled">
                <div class="profile-pic"></div> 
                <p>Ime Prezime</p>
            </div>
            <div *ngIf='!inRide'>
                <button (click)='startRide()'>Pocetak</button>
                <button>Otkazi</button>
            </div>
            <div *ngIf="inRide">
                <button (click)='stopRide()'>Zavrsi</button>
                <button (click)="panic()" class="panic-button">Panic</button>
            </div>
        </div>
    </div>

    <div class = "map-container">
        <app-map [disableClick]="true" [mapType]="mapType" [driverId]="driverId" [markers]="markers"></app-map>
    </div>
</div>