<script src="https://kit.fontawesome.com/3fd6d494cc.js" crossorigin="anonymous"></script>
<div class="bell-and-profile-container">
    <i class="fa fa-solid fa-bell" [ngClass]="{'no-notifications': !hasNotification, 'has-notifications': hasNotification}" [routerLink]="['/notifications']"></i>
    <div class="profile-pic" mat-raised-button  [matMenuTriggerFor]="menu">
        <img class="actual-image" src="{{base64String}}">
    </div>
    <div *ngFor="let notification of notifications" class="notification">
        <h1>
            {{notification.notificationType}}
        </h1>
        <p>
            {{notification.note}}
        </p>
        <p class="date">
            {{notification.date}}
        </p>
        <button (click)="buttonOk()">
            OK
        </button>
    </div>
</div>
<mat-menu #menu="matMenu" >
    <!-- USER - profil, istorija voznji, omiljene putanje, chat -->
    <button mat-menu-item  (click)="onClickOption('/user-profile')"  *ngIf="role === 'USER'">Profil</button>
    <button mat-menu-item  (click)="onClickOption('/user-ride-history')" *ngIf="role === 'USER'">Istorija vožnjI</button>
    <button mat-menu-item  (click)="onClickOption('/favorite-routes')"  *ngIf="role === 'USER'">Omiljene putanje</button>
    <button mat-menu-item *ngIf="role === 'USER'">Poruke</button>

    <!-- DRIVER - profil, istorija voznji, chat -->
    <button mat-menu-item (click)="onClickOption('/driver-profile')" *ngIf="role === 'DRIVER'">Profil</button>
    <button mat-menu-item (click)="onClickOption('/driver-ride-history')" *ngIf="role === 'DRIVER'">Istorija vožnji</button>
    <button mat-menu-item *ngIf="role === 'DRIVER'">Poruke</button>

    <!-- ADMIN - upravljanje nalozima, chat -->
    <button mat-menu-item (click)="onClickOption('/account-management')" *ngIf="role === 'ADMIN'">Upravljanje nalozima</button>
    <button mat-menu-item *ngIf="role === 'ADMIN'">Poruke</button>

    <button mat-menu-item (click)="logout()">Izlogujte se</button>

</mat-menu>

