@import '~@fortawesome/fontawesome-free/css/all.css';

.fa {
    font-size: 20px;
}

.no-notifications
{
    color: black;
}

.has-notifications
{
    color: #d10e00;
}

.profile-pic{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2196F3;
}

.bell-and-profile-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 24px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
  }

.dropdown-item:hover,
.dropdown-item:focus {
  color: #262626;
  text-decoration: none;
  background-color : grey;
}

::ng-deep .mat-menu-panel {
  background-color: #2E8B57;
}

::ng-deep .mat-menu-item {
  color: white;
}

div.notification
{
    position: absolute;
    border-style: none;
    border-radius: 10px;
    background-color: #DDDBDB;
    width: 15%;
    padding: 5px;
    z-index: 1;
    left: 10px;
    top: 80px;
}

h1
{
    text-align: center;
}

p.date
{
    font-size: 10px;
    text-align: right;
}

button
{
    display: block;
    border-radius: 5px;
    border-style: none;
    background-color: #2E8B57;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}