<div class="wrapper">
  <div class="profile-wrapper">
    <h1 id="profil">Profil</h1>

    <div class="profile-container">
      <div class="upload">
        <div class="profile-icon">
          <img class="actual-image" src="{{base64String}}">
        </div>
        <div class="round">
          <input type="file" (change)="onChangePicture($event)" accept="image/*">
          <i class="fa fa-plus" style="color: #fff;"></i>
        </div>
      </div>
      <button *ngIf="isAdmin" class="block-button" (click)="openBlockDialog()">Blokiraj</button>
    </div>

    <div class="sides">
      <div class="left-side">
        <div class="side-panel">
          <form [formGroup]="ProfileForm" (ngSubmit)="onProfileFormSubmit()">
            <mat-form-field class="form-field">
              <mat-label>Ime</mat-label>
              <input matInput type="text" name="name" formControlName="name" />
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Prezime</mat-label>
              <input matInput type="text" name="surname" formControlName="surname" />
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Adresa</mat-label>
              <input matInput type="text" name="address" formControlName="address" />
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Broj telefona</mat-label>
              <input matInput type="text" name="phone" formControlName="phone" />
            </mat-form-field>
            <button *ngIf="!isAdmin" type="input">Sačuvaj</button>
          </form>
          
        </div>
        <div class="side-panel">
          <form [formGroup]="PasswordForm" (ngSubmit)="onPasswordFormSubmit()">
            <mat-form-field class="form-field">
              <mat-label>Stara lozinka</mat-label>
              <input matInput type="password" name="oldPass" formControlName="oldPass" />
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Nova lozinka</mat-label>
              <input matInput type="password" name="newPass" formControlName="newPass" />
            </mat-form-field>
            <button *ngIf="!isAdmin" type="input">Sačuvaj</button>
          </form>
        </div>
      </div>
      <div>
        <div class="side-panel" id="vehicle-panel">
          <form [formGroup]="VehicleForm" (ngSubmit)="onVehicleFormSubmit()">
            <mat-form-field  class="form-field">
              <mat-label>Tip vozila</mat-label>
              <mat-select formControlName="selectedVehicleType">
                <mat-option *ngFor="let vehicle of vehicleTypes" [value]="vehicle" >
                  {{ vehicle }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Model vozila</mat-label>
              <input matInput type="text" name="model" formControlName="model" />
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Registarske tablice</mat-label>
              <input matInput type="text" name="plates" formControlName="plates" />
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Broj mesta</mat-label>
              <input matInput type="number" name="numberOfSeats" formControlName="numberOfSeats" />
            </mat-form-field>
            <div class="checkbox-parameters">
              <mat-checkbox formControlName="drivesBabies" label="baby" [(ngModel)]="drivesBabies">Beba</mat-checkbox>
              <mat-checkbox formControlName="drivesPets" label="pets" [(ngModel)]="drivesPets">Ljubimci</mat-checkbox>
            </div>
            <button *ngIf="!isAdmin" type="input">Sačuvaj</button>
          </form>
        </div>
        <div class = "admin-options">
          <button *ngIf="isAdmin">Sačuvaj izmene</button>
          <button *ngIf="isAdmin"> Odabaci izmene</button>
          <div class = "history-button-container">
            <button *ngIf="isAdmin">Istorija vožnji</button>
          </div>
          
        </div>
      </div>
    </div>

  </div>

  <div class="stats-wrapper">
    <h1>Statistika</h1>
    <app-statistics></app-statistics>
  </div>

</div>