<div id="div">
  <form>
    <input type="email" id="e-mail" name="e-mail" placeholder="E-mail"><br>
    <input type="password" id="password" name="password" placeholder="Password"><br>
    <input type="password" id="repeat password" name="repeat password" placeholder="Repeat password"><br>
    <input type="text" id="name" name="name" placeholder="Name"><br>
    <input type="text" id="surname" name="surname" placeholder="Surname"><br>
    <input type="tel" id="phone number" name="phone number" placeholder="Phone number"><br>
    <input type="text" id="address" name="address" placeholder="Address">
  </form>
  <button>Register</button>
</div>
