<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/3fd6d494cc.js" crossorigin="anonymous"></script>
<div class="real-wrapper">
    <!--
    <div class="wrapper">

        <div *ngIf="inRide" class="driver-side-panel" id="destination-parameters">

            <input [disabled]="true" type="text" placeholder="pocetna destinacija" />
            <input [disabled]="true" type="text" placeholder="krajnja destinacija" />

            <div *ngIf="time" class="estimate-box">
                <p *ngIf="time" class="estimate">Oko {{ time }} minuta</p>
                <p *ngIf="cost" class="estimate">{{ cost }} RSD</p>
                <p *ngIf="hasPet" class="estimate">Prisutni ljubimci</p>
                <p *ngIf="hasBaby" class="estimate">Prisutna beba</p>
            </div>
        </div>

        <div class="driver-side-panel" id="driver-accept-container">
            <div class="profil-pregled">
                <div class="profile-pic"></div>
                <p>Ime Prezime</p>
                <div class="scoring">
                    <p> 4.4</p>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="profil-pregled">
                <p>Ford Fiesta</p>
                <div class="scoring">
                    <p> 4.9</p>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>

        <div class="driver-side-panel">
            <div class="profil-pregled">
                <div class="profile-pic"></div>
                <p>Ime Prezime</p>
            </div>
        </div>

    </div>
    -->
    <div class = "map-container">
        <app-map [disableClick]="true" [mapType]="'ALL'"></app-map>
    </div>
</div>