<div class="big-wrapper">
    <div class="list-container">
        <h2>Favourite routes:</h2>
        <div class="route-list-container">
            <div class="item">
                <div class="column">
                    <i class="fa fa-arrow-right"></i>  <p>ulica neke osobe lmao</p> <br>
                    <i class="fa fa-arrow-left"></i>  <p>ulica neke osobe lmao</p>
                </div>
                <div class="column">
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="item">
                <div class="column">
                    <i class="fa fa-arrow-right"></i>  <p>ulica neke osobe lmao</p> <br>
                    <i class="fa fa-arrow-left"></i>  <p>ulica neke osobe lmao</p>
                </div>
                <div class="column">
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="item">
                <div class="column">
                    <i class="fa fa-arrow-right"></i>  <p>ulica neke osobe lmao</p> <br>
                    <i class="fa fa-arrow-left"></i>  <p>ulica neke osobe lmao</p>
                </div>
                <div class="column">
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="map-container">
        <app-map></app-map>
        <button>Begin</button>
        <button>Book</button>
    </div>
    

    
</div>
